@font-face {
  font-family: 'Ethnocentric';
  src: url('/fonts/ethnocentric.woff2') format('woff2'),
       url('/fonts/ethnocentric.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
